@model IEnumerable<Transaction>
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-controller="Transactions" asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg>
                Create new transaction
            </a>
        </div>
        <div class="col-6 text-end">
            <h2>Transactions</h2>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <th>Date</th>
            <th>Description</th>
            <th>Value</th>
            <th>Tag</th>
            <th>Bucket</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody>
            @foreach(var transaction in Model)
            {
                 <tr>
                    <td>@transaction.Date</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.Value</td>
                    <td>@transaction.TagId</td>
                    <td>@transaction.BucketId</td>
                    <td>@transaction.Status</td>
                    <td>
                        <a asp-controller="Transactions" asp-action="Edit" asp-route-id="@transaction.Id" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
</svg>
                        </a>
                        <form asp-controller="Transactions" asp-action="Delete" method="post" asp-route-id="@transaction.Id" class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
</svg>
                            <button style="all:unset" type="submit">Delete</button> 
                        </form>
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
